body {
    background-color :#ab9b9b; 
}

.brown {
    min-width: 600px;
    max-width: 600px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

.ear {
    position: absolute;
    min-width: 60px;
    height: 60px;
    background-color: #4a3333;
    border: 4px solid black;
    border-bottom: transparent;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    top: 190px;
    z-index: 1;
}

@keyframes rightEarMoving{
    0% {
        min-width: 60px;
        height: 60px;
    }

    70% {
        transform: rotate(40deg)
    }

    100% {
        transform: rotate(38deg)
    }
}

@keyframes leftEarMoving{
    0% {
        min-width: 60px;
        height: 60px;
    }

    70% {
        transform: rotate(-40deg);
    }

    100% {
        transform: rotate(-38deg)
    }
}

.rightside {
    animation: rightEarMoving 2s infinite alternate;
    position: absolute;
    transform: rotate(30deg);
    right: 20%;
}

.leftside {
    animation: leftEarMoving 2s infinite alternate;
    position: absolute;
    transform: rotate(-30deg);
    left: 20%;
}


.face {
    display: flex;
    min-width: 500px;
    height: 430px;
    margin: 200px auto;
    
    background-color: #4a3333;
    border: 4px solid black;
    border-radius: 50%;
    flex-direction: column;

    position: relative;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.eyes {
    width: 20px;
    height: 20px;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    position: absolute;
    top: 180px;
}

.right {
    left: 220px;
}

.left {
    right: 220px;
}

.nose-area{
    width: 70px;
    height: 100px;
    background-color: rgb(189, 157, 157);
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 205px;
}

.nose {
    animation: noseSniffing 1s infinite alternate;
    position: inherit;
    width: 50px;
    height: 20px;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 50%;
    right: 25px;
}

@keyframes noseSniffing {
    0% {
        width: 50px;
        height: 20px;
    }

    70% {
        width: 50px;
        height: 20px;
        transform: rotate(12deg);
    }

    100% {
        width: 50px;
        height: 20px;
        transform: rotate(5deg);
    }
}

.mouth {
    position: inherit;
    width: 27px;
    height: 10px;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 30px;
    top: 60px;
}


